/.git*                  export-ignore
/docs                   export-ignore
/tests                  export-ignore
/.npmignore             export-ignore
/eslint.config.js       export-ignore
/rollup.config.js       export-ignore
/tsconfig.json          export-ignore
/vite.config.ts         export-ignore
/vitest.config.ts       export-ignore
